.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 230, 230);

}
.left{
    display: flex;
    align-items: center;
}
.middle{
    flex: 1;
    margin-left: 70px;
    margin-right: 20px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.hamburger{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.logo{
    height: 20px;
}
.search-button{
    margin-left: -1px;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240)
}
.voice-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba 0, 0, 0, 0.05;
    width: 0;
}
.search-bar::placeholder{
    font-family: roboto, ariel;
    font-size: 15px;

}
.search-icon{
    height: 25px;
    margin-top: 4px;
}
.voice-search-icon{
    height: 24px;
    margin-top: 4px;   
}
.upload{
    height: 24px;

}
.youtube-apps{
    height: 24px;

}
.notification{
    height: 24px;

}
.current-user{
    height: 32px;
    border-radius: 16px
}