
     
    .thumb1{
        vertical-align: top;
        margin-right: 20px;
    }
    .tetx1{
        margin-left: 5px;
    }
    .thumb1channel{
        width: 40px;
        border-radius: 50px;
    }
    .title{
        margin-top: 0px;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 12px;
    }
    .thumbrow{
        margin-bottom: 12px;
    }
    .author,
    .stats{
    font-size: 12px;
    color: rgb(96, 96, 96)
    }
    .author{
        margin-bottom: 6px;
    }
    .text2{
        display: inline-block;
        width: 245px;
        margin-left: 5px;
        margin-top: 0px;
        font-family: roboto, arial;
 }
    .thumb2channel{
        width: 40px;
        border-radius: 50px;
    }
    .thumb2{
        vertical-align: top;
        display: inline-block;
        width: 50px
        margin-right: 20px;
    }
    .author2,
    .stats2{
        font-size: 12px;
    color: rgb(96, 96, 96)
    }
    
    .author2{
        margin-bottom: 6px;
    }
    .title2{
        margin-top: 0px;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 12px;
    }
    .thumbrow2{
        margin-bottom: 12px;
    }
    .thumbrow3{
        margin-bottom: 12px;
    }
    .thumb3channel{
        border-radius: 50px;
        width: 40px;
    }
    .text3{
        margin-left: 5px;
        margin-top: 0px;
        font-family: roboto, arial;
    }
    .title3{
        margin-top: 0px;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 12px;
    }
    .author3,
    .stats3{
        font-size: 12px;
    color: rgb(96, 96, 96)
    }
    .thumb3{
        vertical-align: top;
    }
    .author3{
        margin-bottom: 6px;
    }
    
    .thumbrow4{
        margin-bottom: 12px;
    }
    .thumb4channel{
        border-radius: 50px;
        width: 40px;
    }
    .text4{
        margin-left: 5px;
        margin-top: 0px;
        font-family: roboto, arial;
    }
    .title4{
        margin-top: 0px;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 12px;
    }
    .author4,
    .stats4{
        font-size: 12px;
    color: rgb(96, 96, 96)
    }
    .thumb4{
        vertical-align: top;
        display: inline-block;
    }
    .author4{
        margin-bottom: 6px;
    }
    .video-grid{

        display: grid;
        grid-template-columns: 50px 1fr;
    }
    .yt-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
        
    }
    .thumb{
        width: 100%;
    }
    .thumbrow5{
        margin-bottom: 12px;
    }
    .thumb5channel{
        border-radius: 50px;
        width: 40px;
    }
    .text5{
        margin-left: 5px;
        margin-top: 0px;
        font-family: roboto, arial;
    }
    .title5{
        margin-top: 0px;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 12px;
    }
    .author5,
    .stats5{
        font-size: 12px;
    color: rgb(96, 96, 96)
    }
    .thumb5{
        vertical-align: top;
    }
    .author5{
        margin-bottom: 6px;
    }
    .thumbrow6{
        margin-bottom: 12px;
    }
    .thumb6channel{
        border-radius: 50px;
        width: 40px;
    }
    .text6{
        margin-left: 5px;
        margin-top: 0px;
        font-family: roboto, arial;
    }
    .title6{
        margin-top: 0px;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 12px;
    }
    .author6,
    .stats6{
        font-size: 12px;
    color: rgb(96, 96, 96)
    }
    .thumb6{
        vertical-align: top;
    }
    .author6{
        margin-bottom: 6px;
    }
    .video-time{
        background-color: black;
        text-color: white;
    }
    